
<div class="container my-4">

  <h1 style="text-align: center;">Device Data </h1>

    <div style="margin: 20px">
    <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="search()" placeholder="Device Id"> &nbsp;
    <button (click)="search()" style="border-radius: 5; background-color:  rgba(61, 11, 73, 1);">Search</button> 
    <button (click)="reset()">Reset</button> <p style="margin-top: 5px;">{{searchErrMsg}}</p></div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="datasource" matSort style="background-color: transparent;">


    <ng-container matColumnDef="deviceId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Device Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> <a [routerLink]="['/Device', 'update', row.deviceId]"> {{row.deviceId}} </a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="equipmentType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Equipment Type </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.equipmentType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="accountId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Account Id</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.accountId}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="accountName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Account Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.accountName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="courierId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Courier Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.courierId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="contactEmail">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Contact Email </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.contactEmail}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons  style="background-color: transparent;"></mat-paginator>
</div>
</div>



<div style="display: flex;  margin: 50px; position: relative; bottom: 20px;">
 
  <div>
    
    <button style="margin-left: 30px;" class="btn btn-add" (click)="addDeviceData()">Add +</button>
  </div>
</div>


<style>

  .btn-add {
    border-radius: 5;
    background-color: rgba(61, 11, 73, 1);
    color: white;
    border-width: 2px;
    border-color: white;
  }

  .btn-add:hover {
    border-radius: 5;
    border-width: 2px;
    border-color: white;
    background-color: rgba(7, 165, 31, 0.911);
    color: rgba(255, 255, 255, 1);
  }
</style>


<!-- <div class="container my-4">

    <h1> Device Data </h1>
    &nbsp;

    <table class="table" id="deviceTable" *ngIf="deviceData && deviceData.length > 0">
        <thead>
            <tr>
                <th> Device Id </th>
                <th> Equipment Type </th>
                <th> Account Id </th>
                <th> Account Name </th>
                <th> Courier Id </th>
                <th> Contact Email </th>
                <th> Description </th>
                <th> Status </th>
    
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of deviceData">
                <td><a [routerLink]="['/Device', 'update', data.deviceId]"> {{data.deviceId}}</a> </td>
                <td> {{data.equipmentType}} </td> 
                <td> {{data.accountId}} </td> 
                <td> {{data.accountName}} </td> 
                <td> {{data.courierId}} </td> 
                <td> {{data.contactEmail}} </td> 
                <td> {{data.description}} </td> 
                <td> {{data.status}} </td> 
                
            </tr>
        </tbody>
    </table>

    <p *ngIf="!deviceData || deviceData.length <= 0">Device Data Not Found</p>

    <mat-paginator class="mat-elevation-z8"
                   [length]="deviceData.length"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page" 
                   style="background-color: transparent;">
   </mat-paginator>
  </div>

<div style="display: flex;  margin: 50px; position: relative; bottom: 20px;">
   
    <div>
      
      <button style="margin-left: 20px;" class="btn btn-add" (click)="addDeviceData()">Add +</button>
    </div>
  </div>

  <style>
    .btn-del {
      border-radius: 5;
      background-color: rgba(61, 11, 73, 1);
      color: white;
      border-width: 2px;
      border-color: white;
    }
  
    .btn-del:hover {
      border-radius: 5;
      border-width: 2px;
      border-color: white;
      background-color: rgba(221, 0, 41, 0.911);
      color: rgba(255, 255, 255, 1);
    }
  
    .td:hover{
      background-color: rgba(221, 0, 155, 0.911);
      color: rgba(255, 255, 255, 1);
    }
  
    .btn-add {
      border-radius: 5;
      background-color: rgba(61, 11, 73, 1);
      color: white;
      border-width: 2px;
      border-color: white;
    }
  
    .btn-add:hover {
      border-radius: 5;
      border-width: 2px;
      border-color: white;
      background-color: rgba(7, 165, 31, 0.911);
      color: rgba(255, 255, 255, 1);
    }
  </style> -->

