<div class="container my-5" style="overflow-y: scroll; height: 550px;">
    <h1>Update Device Data</h1>

    &nbsp;

    <div class="row">
        <div class="col-6">

            <form #form="ngForm" (ngSubmit)="updateDeviceData()">
                <div class="mb-3">

                    
                   <label for="" class="form-label">Device Id</label>
                   <input type="text" placeholder="DeviceId" class="form-control"  name="deviceId" [(ngModel)]="deviceData.deviceId">
                    
                   <label for="" class="form-label">Equipment Type</label>
                   <input type="text" placeholder="EquipmentType" class="form-control" name="equipmentType" [(ngModel)]="deviceData.equipmentType">
               
                   <label for="" class="form-label">Account Id</label>
                   <input type="text" placeholder="AccountId" class="form-control" name="accountId" [(ngModel)]="deviceData.accountId">

                   <label for="" class="form-label">Account Name</label>
                   <input type="text" placeholder="AccountName" class="form-control" name="accountName" [(ngModel)]="deviceData.accountName">

                   <label for="" class="form-label">Courier Id</label>
                    <input type="number" placeholder="CourierId" class="form-control" name="courierId" [(ngModel)]="deviceData.courierId">

                   <label for="" class="form-label">Contact Email</label>
                   <input type="email" placeholder="ContactEmail" class="form-control" name="contactEmail" [(ngModel)]="deviceData.contactEmail">

                   <label for="" class="form-label">Description</label>
                   <input type="text" placeholder="Description" class="form-control" name="description" [(ngModel)]="deviceData.description">

                   <!-- <label for="" class="form-label">Status</label>
                   <input type="text" placeholder="Status" class="form-control" name="status" [(ngModel)]="deviceData.status"> -->

                   <label for="" class="form-label">Status</label>
                    <select name="status" required class="form-control" [(ngModel)]="deviceData.status" #status="ngModel">
                        <option value="" disabled selected hidden>Select Status</option>
                        <option value="Available">Available</option>
                        <option value="In Transit">In Transit</option>
                        <option value="Returning">Returning</option>
                        <option value="Recovered">Recovered</option>
                        <option value="Out For Repair">Out For Repair</option>
                      </select>


                
                </div>

                  <button type="submit" class="btn btn-primary">Update</button> &nbsp;

                  <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#exampleModalCenter">Delete</button>
                  

                
            </form>
        </div>
    </div>



    <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLongTitle">Delete Device</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteDeviceData(deviceData.deviceId)">Delete</button>
          <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>