<div class="container my-5" style="overflow-y: scroll; height: 550px;">
    <h1>Add Device Master Data</h1>

    &nbsp;

    <div class="row">
        <div class="col-6">

            <form #form="ngForm" (ngSubmit)="addMasterData()">
                <div class="mb-3">

                
                    <label for="" class="form-label">Device Id</label>
                    <input type="text" required placeholder="DeviceId" class="form-control" #deviceId="ngModel" name="deviceId" [(ngModel)]="masterData.deviceId">

                    <div *ngIf="deviceId.invalid && (deviceId.dirty || deviceId.touched)" style="margin-bottom: 5px;">
                    <span *ngIf="deviceId.errors?.['required']" style="color:red;">
                    Device Id is required.
                    </span>
                    </div>
        
                    <label for="" class="form-label">Device Name</label>
                    <input type="text" placeholder="DeviceName" class="form-control" name="deviceName" [(ngModel)]="masterData.deviceName">
                     
                    <label for="" class="form-label">Device Type</label>
                    <select name="deviceType" required class="form-control"  [(ngModel)]="masterData.deviceType" #deviceType="ngModel">
                        <option value="" disabled selected hidden>Select Device Type</option>
                        <option value="Sendum Device">Sendum Device</option>
                        <option value="Tive Device">Tive Device</option>
                      </select>

                      <div *ngIf="deviceType.invalid && (deviceType.dirty || deviceType.touched)" style="margin-bottom: 5px;">
                        <span *ngIf="deviceType.errors?.['required']" style="color:red;">
                            Device Type is required.
                        </span>
                       </div>
                   
 
                    <label for="" class="form-label">Status</label>
                    <select name="status" required class="form-control" [(ngModel)]="masterData.status" #status="ngModel">
                        <option value="" disabled selected hidden>Select Status</option>
                        <option value="Available">Available</option>
                        <option value="In Transit">In Transit</option>
                        <option value="Returning">Returning</option>
                        <option value="Recovered">Recovered</option>
                        <option value="Out For Repair">Out For Repair</option>
                      </select>

                      <div *ngIf="status.invalid && (status.dirty || status.touched)" style="margin-bottom: 5px;">
                        <span *ngIf="status.errors?.['required']" style="color:red;">
                            Status is required.
                        </span>
                       </div>
                
                    <label for="" class="form-label">Ownership</label>
                    <input type="text" placeholder="Ownership" class="form-control" name="ownership" [(ngModel)]="masterData.ownership">
 
                    <label for="" class="form-label">Valid From</label>
                    <input type="date" placeholder="ValidFrom" class="form-control" name="validFrom" [(ngModel)]="masterData.validFrom">
 
                    <label for="" class="form-label">Valid To</label>
                    <input type="date" placeholder="ValidTo" class="form-control" name="validTo" [(ngModel)]="masterData.validTo">
 
                    <label for="" class="form-label">Market</label>
                    <input type="text" placeholder="Market" class="form-control" name="market" [(ngModel)]="masterData.market">
 

                
                </div>

                  <button type="submit" class="btn btn-primary">Add</button> &nbsp;
                  <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
                  

                
            </form>
        </div>
    </div>

